<main>
<section class="login">
<form method="POST" action='@Url.Action("Login", "Cliente")'>
                <div>
                <label for="email">Email</label>
                <br />
                <input id="email" type="email" maxlength="20" minlength="3" name="email" required />
                </div>             
            <div>
            <label for="senha">Senha</label>
            <br />
            <input id="senha" type="password" maxlength="20" minlength="3" name="senha" required />
            </div>
                    <input type="submit" value="entrar">
                    <div><a  asp-controller="Cadastro" asp-action="CriarCadastro">Não tenho cadastro</a></div>
</form>
</section>
<div class="vazio">
<br>
<br/>
<br>
<br/>
<br>
<br/>
<br>
<br>
<br>
</div>
</main>