<h1 class="TituloMeio"><strong>EVENTOS</strong></h1>
<section class="galeria">
<img src="/ibagens/formatura Administração (2).jpg">
<img src="/ibagens/site-de-casamento-personalizdo.jpg">
<img src="/ibagens/foto-venda-de-shows.jpg">
</section>