@model RoleTop_Mvc.ViewModel.RespostaViewModel
<main>
    <h2>
        @Model.NomeView Deu ruim!
    </h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>
        @Model.Mensagem
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
</main>