<section class="ajeita">
    <img src="/ibagens/Fimdeano.jpg">
    <img src="/ibagens/Prod - 2.jpg">
    <img src="/ibagens/espaco-para-casamento-em-curitiba-taboo-eventos-20.jpg">
    <img src="/ibagens/espaço-para-eventos-corporativos.png">
    <img src="/ibagens/eventosHome_05.jpg">
    <img src="/ibagens/formatura Administração (2).jpg">
    <img src="/ibagens/foto-venda-de-shows.jpg">
    <img src="/ibagens/grande-hotel-eventos-sociais-8.jpg">
    <img src="/ibagens/images (2).jpg">
    <img src="/ibagens/images.jpg">
    <img src="/ibagens/lisandra-roger-2-copia_13_131967.jpg">
    <img src="/ibagens/salao-para-festa.jpg">
    <img src="/ibagens/374921000030114.jpg">
    <img src="/ibagens/90581893-01ea-4204-ae7a-4f3390c6fabb.jpg">
    <img src="/ibagens/AAAAEEEESALAO-DE-FESTAS-BH-CIDADE-NOVA-ESPACO-EM-FESTA_673817_2016_2_12_54_27_92029.jpg">
    <img src="/ibagens/Eventos-Corporativos-Resort-4-1576x670.jpg">
    <img src="/ibagens/Eventos.jpg">
    <img src="/ibagens/Festa-da-Espuma.jpg">
    <img src="/ibagens/stand up.jpg">
    <img src="/ibagens/marcel_sachetti_8.jpg">
    <img src="/ibagens/12.jpg">
    <img src="/ibagens/123.jpg">
</section>
