                        <section class="cadastre-se">
                                <div class="botao-cadastro">
                                    <h1><a asp-controller="Cadastro" asp-action="CriarCadastro">CADASTRE-SE</a></h1>
                                        <h2>Fornecendo o melhor estabelecimento da região por um preço que vai tornar o
                                        seu role um role que vocês e seus amigos nunca esquecerão. Recebemos diversos eventos
                                        em nosso estabelecimento desde shows de magicas a casamentos.
                                        Venha para um Role que voce e seus amigos nunca esqueceram.</h2> 
                                                    <br><br/>
                                                    <br><br/>
                                                    <br><br/>
                                                    <h2> Nossa historia </h2>
                                                <h2> Em uma viajem a negócios em busca de abrir
                                    uma hamburgueria,pensamos melhor e decidi-
                                    mos abrir um salão para shows e eventos pois
                                    foi observado que muitos jovens frequentavam
                                    a região, tínhamos um publico e um meio de 
                                    diversão para oferecer a esse publico, a empresa
                                    tem esse nome justamente por causa desse 
                                    publico jovem que busca por diversão a todo momento.
                                    Eventos que realizamos:shows,baladas,stand ups,casamentos</h2> 
                                </div>
                    </section>
            <section class="ajeita">
    <img src="ibagens/Fimdeano.jpg">
    <img src="ibagens/Prod - 2.jpg">
    <img src="ibagens/espaco-para-casamento-em-curitiba-taboo-eventos-20.jpg">
    <img src="ibagens/espaço-para-eventos-corporativos.png">
            </section>